
{%load static%}

<li>
    <article class="post">
        <a href="{% url "post-detail-page" "the montains"%}">
            <img src="{% static "my_blogs/images/mountains.jpg" %}" alt="Mountain Hiking">
            <div class="post__content">
                <h3>Mountain Hiking</h3>

                <p>Mountains, with their towering peaks and rugged terrain, inspire awe and adventure, offering both challenge and tranquility amidst their majestic beauty. They stand as silent sentinels, shaping landscapes and cultures with their timeless presence. </p>

            </div>
        </a>
    </article>
</li>